@use "../Defaultcss.modules.scss";

#SideBar_wrapper{
    margin-top: 30px;
    padding:40px 100px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px Defaultcss.$midgray_line solid ;
}
.sidebar_container:hover{
    opacity: 1;
}

.sidebar_container{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:10px 20px;
    width: fit-content;
    height: 48px;
    opacity: 0.7;   
    .icon_container{
        display: flex;
        justify-content: center;
        align-items: center;
        .side_icon{
            width: 36px;
            height: 36px;
        }
    }
}
.side_button{
    width: 40px ;
    height:40px;
    opacity: 0.7;
}

.side_button:hover{
    opacity: 1;
}
.text{
    text-align: center;
}
.rotate{
    transform: rotate(180deg);
}
